@{
    ViewData["Title"] = "Database";
}
@section Scripts {
    <script src="//cdn.jsdelivr.net/combine/npm/angular/angular.min.js,npm/angular-animate/angular-animate.min.js,npm/angular-route/angular-route.min.js,npm/moment@2.17.1,npm/angular-ui-bootstrap@2.1.2/dist/ui-bootstrap.min.js,npm/angular-ui-bootstrap@2.1.2/dist/ui-bootstrap-tpls.min.js,npm/angular-toastr/dist/angular-toastr.tpls.min.js,npm/tubular"></script>
    <script src="~/lib/underscore/underscore-min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/tubular@latest/dist/tubular-bundle.min.css">
    <script src="//cdn.jsdelivr.net/npm/tubular@1.7.2"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6nI59SfwbIvdINEJAb-a7bf_DtT-S0Hc"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/tripsController.js"></script>
    <script src="~/js/tripEditorController.js"></script>
}
<div class="row" ng-app="app">
    <div ng-view></div>
</div>
